# Dependencies
node_modules/
node_local/

# Next.js & Vite build outputs
.next/
dist/
build/

# Environment files
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
